{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row pt-4 align-items-center">
            <div class="col-auto pr-5 pr-md-3">
                <h2>Sick Beetz</h2>
                <p class="lead">Generating beats by beatboxing</p>
            </div>
            <div class="col-md">
                <img class="img-fluid" src="static/sick_beetz_banner.jpg" alt="banner">
            </div>
        </div>
        <hr/>
        {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <input type="file" name="fileToUpload" id="fileToUpload">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
